.search {
    width: 100%;
    text-align: center;
    height: calc(100vh - 30px);
    margin-top: 30px;
}

.input button {
    margin-left: 5px;
}

.selector {
    margin: 10px auto;
    border: 1px solid #C6C6C6;
    max-width: 80%;
    width: fit-content;
    border-radius: 3px;
}

.listContainer {
    overflow-x: hidden;
    margin-top: 30px;
    height: 70%;
}